/Java Projects/PracticaRegistres/build/
/Java Projects/PracticaRegistres/nbproject/private/
/Java Projects/PracticaRegistres/dist/
/Java Projects/JocDeRol_V1/build/
/Java Projects/JocDeRol_V1/nbproject/private/
/Java Projects/JocDeRol_V2/build/
/Java Projects/JocDeRol_prova/nbproject/private/
/Java Projects/JocDeRol_prova/build/
/Java Projects/JocDeRol_V1_Jordi_Sales/nbproject/private/
/Java Projects/JocDeRol_V2_Jordi_Sales/build/
/Java Projects/JocDeRol_V2_Jordi_Sales/nbproject/private/
/Java Projects/JocDeRol_V1_Jordi_Sales/build/
/Java Projects/JocDeRol_V3_Jordi_Sales/nbproject/private/
/Java Projects/JocDeRol_V3_Jordi_Sales/build/
/Java Projects/JocDeRol_V4_Jordi_Sales/nbproject/private/
/Java Projects/JocDeRol_V4_Jordi_Sales/build/
/Java Projects/JocDeRol_V4_Jordi_Sales/dist/
/Java Projects/JocDeRol_V5_Jordi_Sales_1/nbproject/private/
/Java Projects/JocDeRol_V5_Jordi_Sales_1/build/
/Java Projects/JocDeRol_V6_Jordi_Sales/nbproject/private/
/Java Projects/JocDeRol_V5_Jordi_Sales/nbproject/private/
/Java Projects/JocDeRol_V6_Jordi_Sales/build/
/Java Projects/JocDeRol_V6_Jordi_Sales/dist/
/Java Projects/Fitxers_Text/nbproject/private/